<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>
    
    <div class="wrap">
    
      <div class="cu_sub_nav">
        <ul class="clearfix">
          <li><a href="/featured/index">Featured</a></li>
          <li><a class="active" href="/gift_guide/index">Gift Guide</a></li>
          <li><a href="/editor/index">Editor's Pick</a></li>
        </ul>
      </div>

      <div class="gift common_layout clearfix">

        <div class="lt_cnt">
          <h2>Gift Guide</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        
        <div class="rt_cnt">
          <h2>We Love</h2>
          
          <a href="/gift_guide/gift_guide_01">
            <div class="gift_box card_01">
              <div class="inner">
                <p>FOR <span>HIM</span></p>
              </div>
            </div>
          </a>
          
         <a href="/gift_guide/gift_guide_01">
            <div class="gift_box card_02">
              <div class="inner">
                <p>FOR <span>HER</span></p>
              </div>
            </div>
          </a>
          
          <a href="/gift_guide/gift_guide_01">
            <div class="gift_box card_03">
              <div class="inner">
                <p>FOR <span>KIDS</span></p>
              </div>
            </div>
          </a>
          
          <a href="/gift_guide/gift_guide_01">
            <div class="gift_box card_01">
              <div class="inner">
                <p>FOR <span>HIM</span></p>
              </div>
            </div>
          </a>
          
          <a href="/gift_guide/gift_guide_01">
            <div class="gift_box card_02">
              <div class="inner">
                <p>FOR <span>HER</span></p>
              </div>
            </div>
          </a>
          
          <a href="/gift_guide/gift_guide_01">
            <div class="gift_box card_03">
              <div class="inner">
                <p>FOR <span>KIDS</span></p>
              </div>
            </div>
          </a>
          
        </div>
      </div>
    </div><!--./wrap-->
  </div><!--./layout-->