<div class="card clearfix" data-tags="Coupons">
    <div class="info_box">
      <p>70%<br /><em>OFF</em></p>
      <strong>Coupon</strong>
    </div>
    <div class="inner">
      
      <p><a target="_blank" href="https://amzn.to/2GDUFvg">Amazon Sales & Coupons, February 2019</a></p>
      <em>These Amazon coupons of the day to save as much as 70% on Grocery, Health & Beauty, Electronics, Home Improvement, and more. Simply click on the category of coupons you want, and clipping coupons.</em>
      <span>Expiration: on going</span>
    </div> 
    <div class="deal_btn">
      <a target="_blank" href="https://amzn.to/2GDUFvg">Shop Now</a>
    </div>
 </div>

<div class="card clearfix" data-tags="Coupons">
    <div class="info_box">
      <p><span>40%</span><br /><em>OFF</em></p>
      <strong>Coupon</strong>
    </div>
    <div class="inner">
      
      <p>15% Off Entire Purchase(Rewards Members In Select Markets)Rewards Members In Select Market</p>
      <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
      <span>Expiration: 2019-02-10</span>
    </div> 
    <div class="deal_btn">
      <a href="#n">Shop Now</a>
    </div>
</div>
  
<div class="card clearfix" data-tags="Coupons">
    <div class="info_box">
      <p><span>50%</span><br /><em>OFF</em></p>
      <strong>Coupon</strong>
    </div>
    <div class="inner">
      
      <p>15% Off Entire Purchase(Rewards Members In Select Markets)</p>
      <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
      <span>Expiration: 2019-02-10</span>
    </div> 
    <div class="deal_btn">
      <a href="#n">Shop Now</a>
    </div>
</div>
  
<div class="card clearfix" data-tags="Coupons">
    <div class="info_box">
       <p><span>60%</span><br /><em>OFF</em></p>
       <strong>Coupon</strong>
    </div>
    <div class="inner">
      
      <p>15% Off Entire Purchase</p>
      <em>Entire Purchase Rewards Members </em>
      <span>Expiration: 2019-02-10</span>
    </div> 
    <div class="deal_btn">
      <a href="#n">Shop Now</a>
    </div>
</div>
  
<div class="card clearfix" data-tags="Coupons">
    <div class="info_box">
       <p><span>60%</span><br /><em>OFF</em></p>
       <strong>Coupon</strong>
    </div>
    <div class="inner">
      
      <p>15% Off Entire Purchase</p>
      <em>Entire Purchase Rewards Members </em>
      <span>Expiration: 2019-02-10</span>
    </div> 
    <div class="deal_btn">
      <a href="#n">Shop Now</a>
    </div>
</div>
  
<div class="card clearfix" data-tags="Deals">
    <div class="info_box">
      <div class="img_box">
         <img src="https://m.media-amazon.com/images/I/81Z5AcQ+S2L._SR400,400_.jpg" alt="" />
      </div>
      <strong>Deal</strong>
    </div>
    <div class="inner">
      
      <p>15% Off Entire Purchase</p>
      <em>Entire Purchase Rewards Members </em>
      <span>Expiration: 2019-02-10</span>
    </div> 
    <div class="deal_btn">
      <a href="#n">Shop Now</a>
    </div>
</div>
  
<div class="card clearfix" data-tags="Deals">
    <div class="info_box">
       <div class="img_box">
         <img src="https://i.guim.co.uk/img/media/48e3f8488a2b6ed8f06360863b8bdfbced08bd53/271_1782_3256_2876/master/3256.jpg?width=300&quality=85&auto=format&fit=max&s=a10cfeb940a2e1dbd6a236ac7b48c003" alt="" />
      </div>
      <strong>Deal</strong>
    </div>

    <div class="inner">
      <p>15% Off Entire Purchase</p>
      <em>Entire Purchase Rewards Members </em>
      <span>Expiration: 2019-02-10</span>
    </div> 
    <div class="deal_btn">
      <a href="#n">Shop Now</a>
    </div>
</div>
  
<div class="card clearfix" data-tags="Deals">
    <div class="info_box">
       <div class="img_box">
         <img src="https://pixel.nymag.com/imgs/daily/strategist/2018/11/15/sleep-tech/fitbit-charge-3.w710.h473.2x.jpg" alt="" />
      </div>
      <strong>Deal</strong>
    </div>
    <div class="inner">
      
      <p>15% Off Entire Purchase</p>
      <em>Entire Purchase Rewards Members </em>
      <span>Expiration: 2019-02-10</span>
    </div> 
    <div class="deal_btn">
      <a href="#n">Shop Now</a>
    </div>
</div>