<div class="sub_nav">
  <button class="gnb_open"><img src="<%=asset_path 'open_white.png' %>" alt="open" /></button>
  <button class="gnb_open_b"><img src="<%=asset_path 'open_black.png' %>" alt="open" /></button>
  <div class="wrap">
    <div class="sub_nav_pc">
      <ul class="clearfix">
          <li><a class="active" href="/deals/promo_codes">Promo Codes</a></li>
          <li><a href="/deals/coupons">Coupons</a></li>
          <!--<li><a href="deals-v2-onsale.html">On Sale</a></li>-->
          <li><a href="/deals/quick_search">Quick Search</a></li>
          <li><a href="/deals/promotions">Promotions</a></li>
      </ul>
    </div>
    
    <!--
    <div class="sub_nav_mobile">
      <ul>
        <li>
          <a href="#n">Categories</a>
          <ul>
            <li><a class="active" href="/deals/promo_codes">Promo Codes</a></li>
            <li><a href="/deals/coupons">Coupons</a></li>
            <li><a href="/deals/quick_search">Quick Search</a></li>
            <li><a href="/deals/promotions">Promotions</a></li>
          </ul>
        </li>
      </ul>
    </div>
    -->

    <div class="gnb_m">
      <ul class="clearfix">
        <li><a href="/deals/promo_codes">PROMO CODES,</a></li>
        <li><a href="/deals/coupons">COUPONS,</a></li>
        <!--<li><a href="deals-v2-onsale.html">On Sale</a></li>-->
        <li><a href="/deals/quick_search">QUICK SEARCH,</a></li>
        <li><a href="/deals/promotions">PROMOTIONS</a></li>
      </ul>
      <button class="gnb_close"><img src="<%=asset_path 'close_black.png' %>" alt="모바일 메뉴 닫기" /></button>
    </div>
    <div class="gnb_kbg"></div>
    
  </div>
</div>