<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>

    <div class="deals_sub_nav">
      <div class="wrap">
        <div class="sub_nav_pc">
          <ul class="clearfix">
              <li><a class="active" href="/deals/promo_codes">Promo Codes</a></li>
              <li><a href="/deals/coupons">Coupons</a></li>
              <!--<li><a href="deals-v2-onsale.html">On Sale</a></li>-->
              <li><a href="/deals/quick_search">Quick Search</a></li>
              <li><a href="/deals/promotions">Promotions</a></li>
          </ul>
        </div>
        
        <div class="sub_nav_mobile">
          <ul>
            <li>
              <a href="#n">Categories</a>
              <ul>
                <li><a class="active" href="/deals/promo_codes">Promo Codes</a></li>
                <li><a href="/deals/coupons">Coupons</a></li>
                <!--<li><a href="deals-v2-onsale.html">On Sale</a></li>-->
                <li><a href="/deals/quick_search">Quick Search</a></li>
                <li><a href="/deals/promotions">Promotions</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
    
    <div class="code_main deal_common">
      <div class="wrap">
        <div class="lt_cnt">
          <h2>Promotion Codes</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
          
          <h3>HOW TO USE</h3>
        </div>
        
        <div class="rt_cnt">
          <h2>Promo Codes on Amazon Feb. 10. 2019</h2>

          <div class="code_box clearfix">
            <div class="date">
              <em>FEB<span>.</span></em>
              <p>1</p>
            </div>

            <div class="img">
              <a href="#n"><img src="https://images.unsplash.com/photo-1545252682-0b4df392382f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
            </div>

            <div class="intro">
              <em>Promo Codes on Amazon Feb. 10. 2019</em>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <a href="#n">Viwe all codes details</a>
            </div>
          </div>

          <div class="code_box clearfix">
            <div class="date">
              <em>FEB<span>.</span></em>
              <p>1</p>
            </div>

            <div class="img">
              <a href="#n"><img src="https://images.unsplash.com/photo-1545252682-0b4df392382f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
            </div>

            <div class="intro">
              <em>Promo Codes on Amazon Feb. 10. 2019</em>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <a href="#n">Viwe all codes details</a>
            </div>
          </div>

          <div class="code_box clearfix">
            <div class="date">
              <em>FEB<span>.</span></em>
              <p>1</p>
            </div>

            <div class="img">
              <a href="#n"><img src="https://images.unsplash.com/photo-1545252682-0b4df392382f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
            </div>

            <div class="intro">
              <em>Promo Codes on Amazon Feb. 10. 2019</em>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <a href="#n">Viwe all codes details</a>
            </div>
          </div>





        </div><!--./rt_cnt-->
          
      </div><!--./warp-->
    </div><!--./codes-->
  </div><!--./layout-->