<div class="layout"><!--layout-->
    
  <%= render 'posts/header' %>
  <%= render 'deals/header' %> 
  
  <div class="coupons common_layout clearfix">
    <div class="wrap">
      <div class="lt_cnt">
        <h2>Coupons</h2>

        
        <div class="note">
          <ul>
            <li>Amazon offers thousand of coupons every single day<br /><a target="_blank" href="https://amzn.to/2GI08RX">(Amazon Coupon Terms & Conditions)</a></li>
            <li>Deals & pricing may change or expire at anytime.</li>
            <li>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</li>
          </ul>
        </div>

        <!-- <div class="lt_cnt_box">
          <div id="buttons"></div>
        </div> -->
        
      </div><!--./lt_cnt-->
      
      <div class="rt_cnt">
        <h2>Coupons on Amazon</h2>
        
        <div class="cnt_box">
          <div id="buttons"></div>
        </div>
        
        <div class="coupons_wrap">
          
          <%= render 'deals/body_coupon' %>
          
        </div><!--./coupons_wrap-->
      </div><!--./rt_cnt-->
    </div><!--./wrap-->
  </div><!--./coupons-->
</div><!--./layout-->
<%= render(:partial => 'coupons', :handlers => [:erb], :formats => [:js]) %>