<div class="layout"><!--layout-->
    
  <%= render 'posts/header' %>

  <%= render 'deals/header' %> 
  
  <div class="coupons common_layout clearfix">
    <div class="wrap">
      <div class="lt_cnt">
        <h2>Coupons</h2>
        <p>Amazon offer thousand of coupons every single day<a target="_blank" href="https://amzn.to/2GI08RX">(Amazon Coupon Terms & Conditions)</a></p>
      </div>
      <div class="rt_cnt">
        <h2>Coupons on Amazon</h2>
        <div class="coupons_wrap">
          <div class="card clearfix">
          
            <div class="info_box">
              <p>70%<br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p><a target="_blank" href="https://amzn.to/2GDUFvg">Amazon Sales & Coupons, February 2019</a></p>
              <em>These Amazon coupons of the day to save as much as 70% on Grocery, Health & Beauty, Electronics, Home Improvement, and more. Simply click on the category of coupons you want, and clipping coupons.</em>
              <span>Expiration: on going</span>
            </div> 
            <div class="deal_btn">
              <a target="_blank" href="https://amzn.to/2GDUFvg">Shop Now</a>
            </div>
          </div>
  
  
          <div class="card clearfix">
            <div class="info_box">
              <p><span>40%</span><br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)Rewards Members In Select Market</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
          <div class="card clearfix">
            <div class="info_box">
              <p><span>50%</span><br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
          <div class="card clearfix">
            <div class="info_box">
               <p><span>60%</span><br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase</p>
              <em>Entire Purchase Rewards Members </em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
        </div>
      </div>
    </div><!--./wrap-->
  </div><!--./coupons-->
</div><!--./layout-->