<div class="layout"><!--layout-->
    
  <%= render 'posts/header' %>

  <%= render 'deals/header' %> 
  
  <div class="coupons common_layout clearfix">
    <div class="wrap">
      <div class="lt_cnt">
        <h2>Coupons</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
      <div class="rt_cnt">
        <h2>Coupons on Amazon</h2>
        <div class="coupons_wrap">
          <div class="card clearfix">
          
            <div class="info_box">
              <p>30%<br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a target="_blank" href="#n">Shop Now</a>
            </div>
          </div>
  
  
          <div class="card clearfix">
            <div class="info_box">
              <p><span>40%</span><br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)Rewards Members In Select Market</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
          <div class="card clearfix">
            <div class="info_box">
              <p><span>50%</span><br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
          <div class="card clearfix">
            <div class="info_box">
               <p><span>60%</span><br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase</p>
              <em>Entire Purchase Rewards Members </em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
        </div>
      </div>
    </div><!--./wrap-->
  </div><!--./coupons-->
</div><!--./layout-->