<div class="layout"><!--layout-->
    
  <%= render 'posts/header' %>

  <div class="deals_sub_nav">
    <div class="wrap">
      <div class="sub_nav_pc">
        <ul class="clearfix">
          <li><a href="/deals/promo_codes">Promo Codes</a></li>
          <li><a class="active" href="/deals/coupons">Coupons</a></li>
          <!--<li><a href="deals-v2-onsale.html">On Sale</a></li>-->
          <li><a href="/deals/quick_search">Quick Search</a></li>
          <li><a href="/deals/promotions">Promotions</a></li>
        </ul>
      </div>
      
      <div class="sub_nav_mobile">
        <ul>
          <li>
            <a href="#n">Categories</a>
            <ul>
              <li><a href="/deals/promo_codes">Promo Codes</a></li>
              <li><a class="active" href="/deals/coupons">Coupons</a></li>
              <!--<li><a href="deals-v2-onsale.html">On Sale</a></li>-->
              <li><a href="/deals/quick_search">Quick Search</a></li>
              <li><a href="/deals/promotions">Promotions</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="coupons deal_common clearfix">
    <div class="wrap">
      <div class="lt_cnt">
        <h2>Coupons</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
      <div class="rt_cnt">
        <h2>Coupons on Amazon</h2>
        <div class="coupons_wrap">
          <div class="card clearfix">
          
            <div class="info_box">
              <p>30%<br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
  
  
          <div class="card clearfix">
            <div class="info_box">
              <p>30%<br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
          <div class="card clearfix">
            <div class="info_box">
              <p>30%<br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
          <div class="card clearfix">
            <div class="info_box">
              <p>30%<br /><em>OFF</em></p>
            </div>
            <div class="inner">
              <p>15% Off Entire Purchase(Rewards Members In Select Markets)</p>
              <em>Entire Purchase Rewards Members In Select Market Entire Purchase Rewards Members In Select Market</em>
              <span>Expiration: 2019-02-10</span>
            </div> 
            <div class="deal_btn">
              <a href="#n">Shop Now</a>
            </div>
          </div>
          
        </div>
      </div>
    </div><!--./wrap-->
  </div><!--./coupons-->
</div><!--./layout-->