  <div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>
    
    <%= render 'deals/header' %> 
    
    <div class="promotions common_layout">
      <div class="wrap">
        <div class="lt_cnt">
          <h2>Promotions</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <div class="rt_cnt">
          <h2>We Love</h2>
          <div class="box_wrap">
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/img10/associates/med-rec/3d101_300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/8675309/VX-2329-AUCC-ESH-MEGA-Associates-MedRectangle-300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AHS/Associates//300x250-Accossiates._CB1527889018_.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/img10/associates/med-rec/3d101_300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/8675309/VX-2329-AUCC-ESH-MEGA-Associates-MedRectangle-300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AHS/Associates//300x250-Accossiates._CB1527889018_.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/8675309/VX-2329-AUCC-ESH-MEGA-Associates-MedRectangle-300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AHS/Associates//300x250-Accossiates._CB1527889018_.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/8675309/VX-2329-AUCC-ESH-MEGA-Associates-MedRectangle-300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AHS/Associates//300x250-Accossiates._CB1527889018_.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/8675309/VX-2329-AUCC-ESH-MEGA-Associates-MedRectangle-300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AHS/Associates//300x250-Accossiates._CB1527889018_.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/8675309/VX-2329-AUCC-ESH-MEGA-Associates-MedRectangle-300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AHS/Associates//300x250-Accossiates._CB1527889018_.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/8675309/VX-2329-AUCC-ESH-MEGA-Associates-MedRectangle-300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AHS/Associates//300x250-Accossiates._CB1527889018_.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/8675309/VX-2329-AUCC-ESH-MEGA-Associates-MedRectangle-300x250.jpg" alt="" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="#n">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AHS/Associates//300x250-Accossiates._CB1527889018_.jpg" alt="" />
              </a>
            </div>
            
          </div>
        </div>
      </div><!--./wrap-->
    </div><!--./promotions-->   
  </div>