  <div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>
    <%= render 'deals/header' %> 
    
    <div class="promotions common_layout">
      <div class="wrap">
        <div class="lt_cnt">
          <h2>Promotions</h2>
          <div class="note">
            <ul>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
              <li>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</li>
            </ul>
          </div>
        </div>
        
        <div class="rt_cnt">
          <h2>We Love</h2>
          <div class="box_wrap">
            <div class="box">
              <a target="_blank" href="https://amzn.to/2EgkS1o">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/US-hq/2018/img/Prime/XCM_Manual_1132576_Evergreen_Associates_banners_Q32018_300x250_Prime_300X250_1534401353_jpg.jpg" alt="amazon prime - start your 30-day free trial" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="https://amzn.to/2Ei2kho">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/email/acquisition/Multi-Benefit-300x250_explore._CB1545948750_.jpg" alt="amazon student prime -start your 30-day free trial" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="https://amzn.to/2NbKgbq">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/merch/2018/ACQ-ENG/Campaigns/Q2/fcs-4903-fresh25_digitalad_300x250._CB1527286123_.jpg" alt="amazon fresh" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="https://amzn.to/2XaAXwU">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/kindle/kindle-unlimited/associates/31358_KU_associate_ads_300x250.png" alt="kindle unlimited" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="https://amzn.to/2ImAK6J">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/music/merch/2018/ACQ/Campaign/050418-EchoPromo/Associates/ACQ_Echo_assoc_300x250._CB496936854_.jpg" alt="amazon music" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="https://amzn.to/2DS7zmd">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/mom/BR_Associates_300x250_StartRegCTA._CB1542406917_.png" alt="amazon baby registry" />
              </a>
            </div>
            <div class="box">
              <a target="_blank" href="https://amzn.to/2IkATY1">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/music/associates/dec15/TOMSS_Interstitial__300x250.jpg" alt="amazon misic" />
              </a>
            </div>
             <div class="box">
              <a target="_blank" href="https://amzn.to/2TWtoYW">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/wedding-registry/associate/985266_awr_traffic-drivers_associate_300x250._V269730028_.png" alt="amazon wedding" />
              </a>
            </div>
             <div class="box">
              <a target="_blank" href="https://amzn.to/2DQOAZv">
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/Audible/en_US/images/creative/amazon/A4_562_GiftingCenter_Associate_320x250.gif" alt="amazon audible" />
              </a>
            </div>
             <div class="box">
              <a target="_blank" href="url_link">
              <img src="image_link" alt="" />
              </a>
            </div>
             <div class="box">
              <a target="_blank" href="url_link">
              <img src="image_link" alt="" />
              </a>
            </div>
             <div class="box">
              <a target="_blank" href="url_link">
              <img src="image_link" alt="" />
              </a>
            </div>
             <div class="box">
              <a target="_blank" href="url_link">
              <img src="image_link" alt="" />
              </a>
            </div>
             <div class="box">
              <a target="_blank" href="url_link">
              <img src="image_link" alt="" />
              </a>
            </div>
            
            
          </div>
        </div>
      </div><!--./wrap-->
    </div><!--./promotions-->   
  </div>