<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>

    <%= render 'deals/header' %>    
    
    <div class="codes common_layout">
      <div class="wrap">
        <div class="lt_cnt">
          <h2>Promotion Codes</h2>
          <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>-->

           <div class="lt_cnt_box">
            <div class="sort_lt clearfix">
              <p>Sort by:</p>
              <ul>
                <li><a href="#" class="pure-button sort1">$$$</a></li>
                <li><a href="#" class="pure-button sort2">$</a></li>
                <li><a href="#" class="pure-button sort3">%%%</a></li>
                <li><a href="#" class="pure-button sort4">%</a></li>
              </ul>
            </div>
          </div><!--../lt_cnt_box-->
          
          <div class="note">
            <ul>
              <li>Deals & pricing may change or expire at anytime.</li>
              <li>Some of promotion codes can expire fast.</li>
              <li>Free Shipping: Prime or $35+ of all other eligible items.<a href="#n">(What's PRIME?)</a></li>
              <li>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</li>
            </ul>
          </div>
          
         <div class="toggle">
            <ul>
              <li>
                <a href="#n">HOW TO USE</a>
                <ul>
                  <li>Click "Copy & Use code"</li>
                  <li>Click "Buy Now or Add to Cart"</li>
                  <li>Proceed with payment then the code is automatically applied.</li>
                </ul>
              </li>
              <li>
                <a href="#n">LAST 7 DAYS CODES LIST</a>
                <ul>
                  <li><a href="#n">Feb. 10. 2019 <span>(expration:02/15 ~ 03/15)</span></a></li>
                  <li><a href="#n">Feb. 09. 2019  <span>(expration:02/15 ~ 03/15)</span></a></li>
                  <li><a href="#n">Feb. 08. 2019</a></li>
                  <li><a href="#n">Feb. 07. 2019</a></li>
                  <li><a href="#n">Feb. 06. 2019</a></li>
                  <li><a href="#n">Feb. 05. 2019</a></li>
                  <li><a href="#n">Feb. 04. 2019</a></li>
                </ul>
              </li>
            </ul>
          </div><!--./toggle-->

         
        </div><!--./lt_cnt-->
        
        <div class="rt_cnt">
          <h2>Promo Codes on Amazon Feb. 10. 2019</h2>
        
          <div class="card_wrap sort-list">
            
            <div class="card clearfix" data-score="15" data-price="9.99">
              <div class="image_box">
                <a target="_blank" href="https://amzn.to/2IaH1lI"><img src="https://m.media-amazon.com/images/I/81Z5AcQ+S2L._SR400,400_.jpg" alt="" /></a>
              </div>
              <div class="inner">
                <span class="regular"><em>15% OFF +</em> free shipping</span>
                
                <p><a target="_blank" href="https://amzn.to/2IaH1lI">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></p>
                <div class="code_high">
                  <p><span>Take <strong>15% off at $9.99</strong> using code:15K434VD</span></p>
                </div>
              </div> 
              <div class="deal_btn">
                <a target="_blank" href="https://amzn.to/2IaH1lI">Copy & Use code</a>
              </div>
            </div>
            
            <div class="card clearfix" data-score="50" data-price="10.00">
              <div class="image_box">
                <a href="#n"><img src="https://images.unsplash.com/photo-1542841366-ddfe55c504a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
              </div>
              <div class="inner clearfix">
                <span class="regular"><em>50% OFF +</em> free shipping</span>
                <p><a target="_blank" href="https://amzn.to/2IaH1lI">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></p>
                <div class="code_high">
                 <p><span>Take <strong>30% off at $10.00</strong> using code: hellowrld1234</span></p></span></p>
                </div>

              </div> 
              <div class="deal_btn">
                <a href="#n">Copy & Use code</a>
              </div>
            </div>
            
            <div class="card clearfix" data-score="30" data-price="20.00">
              <div class="image_box">
                <a href="#n"><img src="https://images.unsplash.com/photo-1549409829-782dfd401d01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
              </div>
              <div class="inner clearfix">
                <span class="regular"><em>30% OFF +</em> free shipping</span>
                <p><a target="_blank" href="https://amzn.to/2IaH1lI">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></p>
                <div class="code_high">
                  <p><span>Take <strong>30% off at $20.00</strong> using code: hellowrld1234</span></p></span></p>
                </div>
              </div> 
              <div class="deal_btn">
                <a href="#n">Copy & Use code</a>
              </div>
            </div>
            
            <div class="card clearfix" data-score="15" data-price="9.99">
              <div class="image_box">
                <a target="_blank" href="https://amzn.to/2IaH1lI"><img src="https://m.media-amazon.com/images/I/81Z5AcQ+S2L._SR400,400_.jpg" alt="" /></a>
              </div>
              <div class="inner">
                <span class="regular"><em>15% OFF +</em> free shipping</span>
                <p><a target="_blank" href="https://amzn.to/2IaH1lI">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></p>
                <div class="code_high">
                  <p><span>Take <strong>15% off at $9.99</strong> using code:15K434VD</span></p>
                </div>
              </div> 
              <div class="deal_btn">
                <a target="_blank" href="https://amzn.to/2IaH1lI">Copy & Use code</a>
              </div>
            </div>
            
            <div class="card clearfix" data-score="50" data-price="10.00">
              <div class="image_box">
                <a href="#n"><img src="https://images.unsplash.com/photo-1542841366-ddfe55c504a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
              </div>
              <div class="inner clearfix">
                <span class="regular"><em>50% OFF +</em> free shipping</span>
                <p><a target="_blank" href="https://amzn.to/2IaH1lI">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></p>
                <div class="code_high">
                 <p><span>Take <strong>30% off at $10.00</strong> using code: hellowrld1234</span></p></span></p>
                </div>

              </div> 
              <div class="deal_btn">
                <a href="#n">Copy & Use code</a>
              </div>
            </div>
            
            <div class="card clearfix" data-score="30" data-price="20.00">
              <div class="image_box">
                <a href="#n"><img src="https://images.unsplash.com/photo-1549409829-782dfd401d01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
              </div>
              <div class="inner clearfix">
                <span class="regular"><em>30% OFF +</em> free shipping</span>
                <p><a target="_blank" href="https://amzn.to/2IaH1lI">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></p>
                <div class="code_high">
                  <p><span>Take <strong>30% off at $20.00</strong> using code: hellowrld1234</span></p></span></p>
                </div>
              </div> 
              <div class="deal_btn">
                <a href="#n">Copy & Use code</a>
              </div>
            </div>
            

          </div>
        </div><!--./rt_cnt-->    

      </div><!--./warp-->
    </div><!--./codes-->
  </div><!--./layout-->

<%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %>