<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>

    <%= render 'deals/header' %>    
    
    <div class="codes common_layout">
      <div class="wrap">
        <div class="lt_cnt">
          <h2>Promotion Codes</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
          
          <div class="toggle">
            <ul>
              <li>
                <a href="#n">HOW TO USE</a>
                <ul>
                  <li>1. Click "Copy & Use code"</li>
                  <li>2. Click "Buy Now or Add to Cart"</li>
                  <li>3. Proceed with payment then the code is automatically applied.</li>
                </ul>
              </li>
              <li>
                <a href="#n">SHOW LAST PROMO CODES</a>
                <ul>
                  <li><p>Look throug last 7days promo codes</p></li>
                  <li><a href="#n">Feb. 10. 2019</a></li>
                  <li><a href="#n">Feb. 9. 2019</a></li>
                  <li><a href="#n">Feb. 8. 2019</a></li>
                  <li><a href="#n">Feb. 7. 2019</a></li>
                  <li><a href="#n">Feb. 6. 2019</a></li>
                  <li><a href="#n">Feb. 5. 2019</a></li>
                  <li><a href="#n">Feb. 4. 2019</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="rt_cnt">
          <h2>Promo Codes on Amazon Feb. 10. 2019</h2>
  
          <div class="card_wrap">
            <div class="card clearfix">
              <div class="image_box">
                <a target="_blank" href="#n"><img src="https://images.unsplash.com/photo-1534236874052-bef0ac071a50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
              </div>
              <div class="inner">
                <span class="regular"><em>50% OFF +</em> free shipping</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="code_high">
                  <p><span>Take <strong>30% off at $10.00</strong> using code: hellowrld1234</span></p>
                </div>

              </div> 
              <div class="deal_btn">
                <a target="_blank" href="#n">Copy & Use code</a>
              </div>
            </div>
            
            <div class="card clearfix">
              <div class="image_box">
                <a href="#n"><img src="https://images.unsplash.com/photo-1542841366-ddfe55c504a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
              </div>
              <div class="inner clearfix">
                <span class="regular"><em>50% OFF +</em> free shipping</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="code_high">
                 <p><span>Take <strong>30% off at $10.00</strong> using code: hellowrld1234</span></p></span></p>
                </div>

              </div> 
              <div class="deal_btn">
                <a href="#n">Copy & Use code</a>
              </div>
            </div>
            
            <div class="card clearfix">
              <div class="image_box">
                <a href="#n"><img src="https://images.unsplash.com/photo-1549409829-782dfd401d01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
              </div>
              <div class="inner clearfix">
                <span class="regular"><em>50% OFF +</em> free shipping</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="code_high">
                  <p><span>Take <strong>30% off at $10.00</strong> using code: hellowrld1234</span></p></span></p>
                </div>
              </div> 
              <div class="deal_btn">
                <a href="#n">Copy & Use code</a>
              </div>
            </div>

          </div>
        </div><!--./rt_cnt-->    

      </div><!--./warp-->
    </div><!--./codes-->
  </div><!--./layout-->