<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>
    
    
    <div class="wrap">
    
      <div class="cu_sub_nav">
        <ul class="clearfix">
          <li><a href="/featured/index">Featured</a></li>
          <!--<li><a href="/gift_guide/index">Gift Guide</a></li>-->
          <li><a class="active" href="/editor/index">Editor's Pick</a></li>
          <li><a href="/blog/index">Blog</a></li>
        </ul>
      </div>
    
      <div class="editor common_layout clearfix">
        
        <div class="lt_cnt">
          <h2>Editor's Pick</h2>
          <div class="note">
    		  	<ul>
    		  	  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
    		  	</ul>
    			</div>
        </div>
        
        <div class="rt_cnt">
          <h2>We Love </h2>
          <div class="card_wrap">
    
            <%= render 'editor/body' %>
  
          </div><!--./card_wrap-->
        </div><!--./rt_cnt-->
        
      </div><!--./editor-->
    </div><!--./warp-->
  </div><!--./layout-->