<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>
    
    
    <div class="wrap">
    
      <div class="cu_sub_nav">
        <ul class="clearfix">
          <li><a href="/featured/index">Featured</a></li>
          <li><a href="/gift_guide/index">Gift Guide</a></li>
          <li><a class="active" href="/editor/index">Editor's Pick</a></li>
        </ul>
      </div>
    
      <div class="editor deal_common clearfix">
        <div class="lt_cnt">
          <h2>Editor's Pick</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        
        <div class="rt_cnt">
          <h2>We Love </h2>
          <div class="card_wrap">
            <div class="card">
              <a href="/editor/editor_01">
                <h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3>
                <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
                <span>Feb. 15. 2019</span>
                <em>See more details</em>
              </a>
            </div>
            <div class="card">
              <a href="/editor/editor_01">
                <h3> standard Lorem Ipsum passage, used since the 1500s</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,stcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <em>See more details</em>
              </a>
            </div>
            <div class="card">
              <a href="/editor/editor_01">
                <h3>The standard Lorem Ipsum passage, </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <em>See more details</em>
              </a>
            </div>
            <div class="card">
              <a href="/editor/editor_01">
                <h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <em>See more details</em>
              </a>
            </div><div class="card">
              <a href="/editor/editor_01">
                <h3>The standard Lorem Ipsum passage, used since the</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,a.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <em>See more details</em>
              </a>
            </div><div class="card">
              <a href="/editor/editor_01">
                <h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <em>See more details</em>
              </a>
            </div><div class="card">
              <a href="/editor/editor_01">
                <h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <em>See more details</em>
              </a>
            </div>
          </div>
        </div><!--./rt_cnt-->
      </div><!--./editor-->
    </div><!--./warp-->
  </div><!--./layout-->