<div class="filter-node" data-filter='["tech","10 Cool & Clever Finds"]'>
	<div class="inner">
		<a href="curation_detail.html"><img src="https://images.unsplash.com/photo-1549651211-cc23b81e5128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
		<em>TECH+</em>
		<a href="#n"><h3>10 Cool & Clever Finds (tech)</h3></a>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>

<div class="filter-node" data-filter='["smarthome"," vintage"]'>
	<div class="inner">
		<a href="curation_detail.html"><img src="https://images.unsplash.com/photo-1549488497-5a2119c98479?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
			<em>TECH+</em>
			<a href="#n">
			<h3>10 Cool & Clever Finds (smarthome)</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
		</a>
	</div>
</div>

<div class="filter-node" data-filter='["kitchen"," vintage"]'>
	<div class="inner">
		<a href="curation_detail.html"><img src="https://images.unsplash.com/photo-1549482508-654ef08092a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
			<em>TECH+</em>
			<a href="#n">
			<h3>10 Cool & Clever Finds(kitchen)</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took </p>
		</a>
	</div>
</div>

<div class="filter-node" data-filter='["geeky"," vintage"]'>
	<div class="inner">
		<a href="curation_detail.html"><img src="https://images.unsplash.com/photo-1549439548-3be724b4797e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
			<em>TECH+</em>
			<a href="#n">
			<h3>10 Cool & Clever Finds(geeky)</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
		</a>
	</div>
</div>