<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>
    
    <div class="cu_wrap clearfix">
      <div class="wrap">
        
        <div class="detitle">
          <h2><span>Bristly: World's Most Effective Dog Toothbrush</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmtod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        
        <div class="cu_box clearfix">
          <div class="num">
            <p>1</p>
          </div>
          <div class="pic">
            <img src="https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
          </div>
          <div class="inner">
            <strong><span>1.</span>The standard Lorem Ipsum passage, used since the 1500s</strong>
            <span>by Amazon</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmtod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="btn clearfix">
              <em>$100.00</em><a href="#n">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="cu_box clearfix">
          <div class="num">
            <p>2</p>
          </div>
          <div class="pic">
            <img src="https://images.unsplash.com/photo-1501236570302-906143a7c9f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
          </div>
          <div class="inner">
            <strong><span>2.</span>The standard Lorem Ipsum passage, used since the 1500s</strong>
            <span>by Amazon</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmtod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="btn clearfix">
              <em>$100.00</em><a href="#n">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="cu_box clearfix">
          <div class="num">
            <p>3</p>
          </div>
          <div class="pic">
            <img src="https://images.unsplash.com/photo-1516589178581-6cd7833ae3b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
          </div>
          <div class="inner">
            <strong><span>3.</span>The standard Lorem Ipsum passage, used since the 1500s</strong>
            <span>by Amazon</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmtod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="btn clearfix">
              <em>$100.00</em><a href="#n">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="cu_box clearfix">
          <div class="num">
            <p>4</p>
          </div>
          <div class="pic">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReRaz9G2Rk4KhmcHsJx-rcpfxw9NjiU8RP4lGxuDv5f5PSdp1YGw">
          </div>
          <div class="inner">
            <strong><span>4.</span>The standard Lorem Ipsum passage, used since the 1500s</strong>
            <span>by Amazon</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmtod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="btn clearfix">
              <em>$100.00</em><a href="#n">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="cu_box clearfix">
          <div class="num">
            <p>5</p>
          </div>
          <div class="pic">
            <img src="images/cu_img1.jpg">
          </div>
          <div class="inner">
            <strong><span>5.</span>The standard Lorem Ipsum passage, used since the 1500s</strong>
            <span>by Amazon</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmtod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="btn clearfix">
              <em>$100.00</em><a href="#n">Buy Now</a>
            </div>
          </div>
        </div>
        
        
      </div><!--./wrap-->
    </div><!--./cu_wrap-->
</div><!--./layout-->