<header>
  <div class="wrap">
    <button class="gnb_open2"><img src="<%=asset_path 'open_btn2.jpg' %>" alt="open mobile menu" /></button>
    <div class="gnb_pc clearfix">
      <a href="/"><img class="oh_logo" src="<%=asset_path 'oh_logo.jpg' %>" alt="ohigottabuythis" /></a>
      <h1><a href="/">Oh,I GOTTA BUY THIS</a></h1>
      <ul class="clearfix">
        <li><a href="/gadgets/index">GADGETS<span>,</span></a></li>
        <li><a href="/featured/index">FEATURED<span>,</span></a></li>
        <li><a href="/deals/promo-code">DEALS <em>of Amazon</em></a></li>
      </ul>      
    </div>
    
    
    <div class="gnb_m">
      <ul class="clearfix">
        <li><a href="/">HOME<span>,</span></a></li> 
        <li><a href="/gadgets/index">GADGETS<span>,</span></a></li>
        <li><a href="/featured/index">FEATURED<span>,</span></a></li>
        <li><a href="/deals/promo-code">DEALS <em>of Amazon</em></a></li>
      </ul>
      <button class="gnb_close"><img src="<%=asset_path 'close_btn_02.png' %>" alt="모바일 메뉴 닫기" />
    </div>
    <!--
    <div class="gnb_m">
      <ul class="clearfix">
        <li><a href="index-v2.html">HOME<span>,</span></a></li> 
        <li><a href="gadgets-v2.html">GADGETS<span>,</span></a></li>
        <li>
          <a href="curation-v2.html">FEATURED<span>,</span></a>
          <ul>
            <li><a href="#n">Featured</a></li>
            <li><a href="#n">Gift Guide</a></li>
            <li><a href="#n">Editor's Pick</a></li>
          </ul>
        </li>
        <li>
          <a href="deals-v2-codes.html">DEALS <em>of Amazon</em></a>
          <ul>
            <li><a href="#n">Coupons</a></li>
            <li><a href="#n">On Sales</a></li>
            <li><a href="#n">Promo Codes</a></li>
            <li><a href="#n">Quick Search</a></li>
            <li><a href="#n">Promotions</a></li>
          </ul>
        </li>
      </ul>
      <button class="gnb_close"><img src="<%=asset_path 'close_btn_02.png' %>" alt="close mobile menu" />
    </div>
  </div>
  -->
</header>