<div class="blog_box clearfix">
	<div class="date">
		<em>FEB</em>
		<p>20</p>
	</div>
	<div class="image">
		<span>FEB.19</span>
		<a href="/blog/blog_01"><img src="https://icdn2.digitaltrends.com/image/amazon-prime-day-packages-3-720x720.jpg" alt="Amazon Prime"></a>
	</div>
	<div class="inner">
		<h3><a href="/blog/blog_01">"All About The Amazon Prime"</a></h3>
		<p>Amazon Prime is a paid subscription service($119 per year currently, plus a free 30-day trial or $12.99 per month) offered by Amazon that gives users access to free two-day delivery (one-day in some areas), streaming video and music, and other benefits for a monthly or yearly fee.</p>
		<div class="more_btn">
			<a href="/blog/blog_01">See more detail
			<img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
		</div>
	</div>
</div>

<div class="blog_box clearfix">
	<div class="date">
		<em>FEB</em>
		<p>17</p>
	</div>
	<div class="image">
		<span>FEB.17</span>
		<a href="#n"><img src="https://images.unsplash.com/photo-1549394366-678c87f66535?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
	</div>
	<div class="inner">
		<h3><a href="#n">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<div class="more_btn">
			<a href="#n">See more detail
			<img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
		</div>
	</div>
</div>