<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>
    
    <div class="wrap">
    
      <div class="cu_sub_nav">
        <ul class="clearfix">
          <li><a href="/featured/index">Featured</a></li>
          <!--<li><a href="/gift_guide/index">Gift Guide</a></li>-->
          <li><a href="/editor/index">Editor's Pick</a></li>
          <li><a class="active" href="/blog/index">Blog</a></li>
        </ul>
      </div>
    
      <div class="blog common_layout clearfix">
			
		<div class="lt_cnt deal">
			<h2>Blog</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>

		
		<div class="rt_cnt">
			<h2>We Love </h2>
			<div class="blog_box clearfix">
				<div class="date">
					<em>FEB</em>
					<p>20</p>
				</div>
				<div class="image">
					<span>FEB.20</span>
					<a href="/blog/blog_01"><img src="https://images.unsplash.com/photo-1549758895-6eab7830c05d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
				</div>
				<div class="inner">
					<h3><a href="/blog/blog_01">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<div class="more_btn">
						<a href="/blog/blog_01">See more detail
						<img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
					</div>
				</div>
			</div>
			
			<div class="blog_box clearfix">
				<div class="date">
					<em>FEB</em>
					<p>17</p>
				</div>
				<div class="image">
					<span>FEB.17</span>
					<a href="#n"><img src="https://images.unsplash.com/photo-1549394366-678c87f66535?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
				</div>
				<div class="inner">
					<h3><a href="#n">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<div class="more_btn">
						<a href="#n">See more detail
						<img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
					</div>
				</div>
			</div>
			
		</div><!--./rt_cnt-->
	  </div><!--./blog-->
    </div><!--./warp-->
  </div><!--./layout-->
  
 