/* Section Promo Code */
@media screen and (min-width:640px){
  .codes{}
  .codes .lt_cnt .toggle{margin-top:10px;}
  .codes .lt_cnt .toggle>ul{}
  .codes .lt_cnt .toggle>ul>li{padding:5px 0;border-bottom:1px solid #3d3d3d;background:url(/assets/toggle_show_btn.png) top 10px right 10px no-repeat;}
  .codes .lt_cnt .toggle>ul>li.on{border-bottom:1px solid #3d3d3d;background:url(/assets/toggle_hide_btn.png) top 12px right 10px no-repeat;}
  .codes .lt_cnt .toggle>ul>li>a{text-decoration:none;color:#000;display:block;}
  .codes .lt_cnt .toggle>ul>li>ul{display:none;}
  .codes .lt_cnt .toggle>ul>li>ul>li{padding:5px 10px;}
  .codes .lt_cnt .toggle>ul>li>ul>li>a{text-decoration:none;color:#000;display:block;}
  .codes .card_wrap{margin:20px 0 0 0;}
  .codes .card_wrap .card{border-bottom:1px solid #ccc;margin:0 0 15px 0;padding-bottom:10px;}
  .codes .card_wrap .card .image_box{float:left;width:20%;height:150px;padding:1.5%;}
  .codes .card_wrap .card .image_box img{width:100%;height:100%;object-fit:contain;}
  .codes .card_wrap .card .inner{border-right:1px solid #ccc;border-left:1px solid #ccc;float:left;width:57%;padding:1.5%;}
  .codes .card_wrap .card .inner>.regular{color:#000;font-size:17px;border-bottom:2px solid #000;}
  .codes .card_wrap .card .inner>.regular>em{font-weight:400;background:#000;padding:0 5px;color:#fff;}
  .codes .card_wrap .card .inner>p>a{line-height:1.4;height:2.8em;overflow:hidden;margin:10px 0;text-decoration:none;color:#000;display:block;}
  .codes .card_wrap .card .inner>em{display:block;margin-right:5px;font-weight:400;}
  .codes .card_wrap .card .inner>em>span{font-size:15px;color:#ccc;text-decoration:line-through;margin-left:5px;}
  .codes .card_wrap .card .inner>.code_high>p{font-size:13px;display:inline;border-bottom:0.4em solid rgba(255,0,0,0.2);position:relative;}
  .codes .card_wrap .card .inner>.code_high>p>span{font-weight:400;position:relative;top:0.4em;}
  .codes .card_wrap .card .inner>.code_high>p>span>strong{font-size:17px;}
  .codes .card_wrap .card .deal_btn{float:left;width:13%;text-align:center;margin:35px 1.5% 0 1.5%;border:1px solid;padding:10px 0;}
  .codes .card_wrap .card .deal_btn a{text-decoration:none;color:#000;display:block;}
}

@media screen and (max-width:640px){
  .codes .lt_cnt .toggle{margin-top:10px;}
  .codes .lt_cnt .toggle>ul{}
  .codes .lt_cnt .toggle>ul>li{padding:5px 0;border-bottom:1px solid #3d3d3d;background:url(/assets/toggle_show_btn.png) top 10px right 10px no-repeat;}
  .codes .lt_cnt .toggle>ul>li.on{border-bottom:1px solid #3d3d3d;background:url(/assets/toggle_hide_btn.png) top 12px right 10px no-repeat;}
  .codes .lt_cnt .toggle>ul>li>a{text-decoration:none;color:#000;display:block;}
  .codes .lt_cnt .toggle>ul>li>ul{display:none;}
  .codes .lt_cnt .toggle>ul>li>ul>li{padding:5px 10px;}
  .codes .lt_cnt .toggle>ul>li>ul>li>a{text-decoration:none;color:#000;display:block;}
  .codes .card_wrap{column-width:170px;column-gap:5px;}
  .codes .card_wrap .card{display:inline-block;margin:0;margin-bottom:15px;padding:5px;box-shadow: 1px 1px 3px rgba(0,0,0,0.5);text-align:center;}
  .codes .card_wrap .card .image_box img{width:100%;}
  .codes .card_wrap .card .inner{padding:7px;}
  .codes .card_wrap .card .inner>.regular{font-size:13px;border-bottom:2px solid #000;}
  .codes .card_wrap .card .inner>.regular>em{background:#000;padding:0 5px;color:#fff;}
  .codes .card_wrap .card .inner>p>a{font-size:13px;line-height:1.4;height:auto;overflow:visible;margin:10px 0 0 0;text-decoration:none;color:#000;}
  .codes .card_wrap .card .inner>em{display:block;margin-right:5px;font-size:13px;font-weight:400;}
  .codes .card_wrap .card .inner>em>span{font-size:12px;color:#ccc;text-decoration:line-through;margin-left:5px;}
  .codes .card_wrap .card .inner>.code_high>p{display:inline;border-bottom:0.4em solid rgba(255,0,0,0.2);position:relative;}
  .codes .card_wrap .card .inner>.code_high>p>span{font-weight:400;position:relative;top:0.4em;}
  .codes .card_wrap .card .deal_btn{float:none;width:100%;padding:7px;margin-top:0;}
  .codes .card_wrap .card .deal_btn a{text-decoration:none;color:#000;margin:20px 0 0 0;border:1px solid;padding:3px 20px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .codes .card_wrap .card .inner>p>a{font-size:15px;font-weight:300;}
  .codes .lt_cnt .toggle>ul>li>ul>li>a{text-decoration:none;color:#000;display:block;}
}

/* Section Coupons */
@media screen and (min-width:640px){
  .coupons{}
  .coupons .coupons_wrap{margin:20px 0 0 0;}
  .coupons .coupons_wrap .card{border-bottom:1px solid #ccc;margin:0 0 15px 0;padding-bottom:10px;}
  .coupons .coupons_wrap .card .info_box{float:left;width:20%;height:100px;padding:1.5% 0;margin:2% 1.5%;text-align:center;background:#000;color:#fff;}
  .coupons .coupons_wrap .card .info_box p{font-size:30px;font-weight:bold;line-height:1.2;margin:3px 20px;padding:10px;border:1px solid;}
  .coupons .coupons_wrap .card .info_box em{}
  .coupons .coupons_wrap .card .inner{border-right:1px solid #ccc;border-left:1px solid #ccc;float:left;width:57%;padding:1.5%;}
  .coupons .coupons_wrap .card .inner p{font-size:17px;font-weight:bold;line-height:1.2;}
  .coupons .coupons_wrap .card .inner em{display:block;margin:10px 0;}
  .coupons .coupons_wrap .card .inner span{}
  .coupons .coupons_wrap .card .deal_btn{float:left;width:13%;padding:1.5%;text-align:center;margin:50px 0;}
  .coupons .coupons_wrap .card .deal_btn a{text-decoration:none;color:#000;border:1px solid;padding:10px 17px;}
}

@media screen and (max-width:640px){
  .coupons .coupons_wrap{column-width:170px;column-gap:5px;}
  .coupons .coupons_wrap .card{display:inline-block;margin:0;margin-bottom:15px;padding:5px;box-shadow: 1px 1px 3px rgba(0,0,0,0.5);text-align:center;}
  .coupons .coupons_wrap .card .info_box{float:none;width:100%;padding:10px 0;border:1px solid;text-align:center;background:#000;color:#fff;}
  .coupons .coupons_wrap .card .info_box p{font-size:25px;font-weight:500;line-height:1.2;margin:3px 20px;padding:10px;border:1px solid;}
  .coupons .coupons_wrap .card .info_box em{}
  .coupons .coupons_wrap .card .inner{float:none;width:100%;padding:0;}
  .coupons .coupons_wrap .card .inner p{font-size:15px;line-height:1.2;margin-top:10px;word-break:break-all;}
  .coupons .coupons_wrap .card .inner em{display:block;margin:10px 0;}
  .coupons .coupons_wrap .card .deal_btn{float:none;width:100%;padding:0;margin:10px 0;}
  .coupons .coupons_wrap .card .deal_btn a{text-decoration:none;color:#000;border:1px solid;padding:5px 17px;}
}

/* Section Quick Search */
.quicksearch{}
.quicksearch .rt_cnt{}
.quicksearch .rt_cnt .tg{width:98%;margin:0 1%;border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.quicksearch .rt_cnt .tg tr{}
.quicksearch .rt_cnt .tg tr th{font-size:15px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#000;background-color:#f0f0f0;}
.quicksearch .rt_cnt .tg tr td{font-size:15px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.quicksearch .rt_cnt .tg tr td.tg-s6z2{text-align:center}
.quicksearch .rt_cnt .tg tr td.tg-spn1{background-color:#f9f9f9;text-align:center}
.quicksearch .rt_cnt .tg tr td a{text-decoration:none;color:#000;}
.quicksearch .rt_cnt .tg tr td a:hover{color:#7bc242;}

@media screen and (max-width:640px){
  .quicksearch .rt_cnt .tg{width:100%;margin:0;}
  .quicksearch .rt_cnt .tg tr th,
  .quicksearch .rt_cnt .tg tr td{font-size:12px;}
  .quicksearch .rt_cnt .tg tr td a:hover{color:#000;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .quicksearch .lt_cnt{float:left;width:28%;margin:0 2% 30px 0;}
  .quicksearch .rt_cnt{float:left;width:70%;}
  .quicksearch .rt_cnt .tg tr th,
  .quicksearch .rt_cnt .tg tr td{font-size:13px;}
  .quicksearch .rt_cnt .tg tr td a:hover{color:#000;}
}


/* Section Promotions */
.promotions{} 
.promotions .rt_cnt .box_wrap{}
.promotions .rt_cnt .box_wrap .box{float:left;width:31.33%;margin:10px 1% 5px 1%;}
.promotions .rt_cnt .box_wrap .box img{width:100%;-webkit-filter: grayscale(100%);filter: gray;}
.promotions .rt_cnt .box_wrap .box img:hover{-webkit-filter: grayscale(0%);filter: none;}

@media screen and (max-width:640px){
  .promotions .rt_cnt .box_wrap .box{float:left;width:48%;}
  .promotions .rt_cnt .box_wrap .box img{width:100%;-webkit-filter: grayscale(100%);filter:none;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .promotions .lt_cnt{float:left;width:28%;margin:0 2% 30px 0;}
  .promotions .rt_cnt{float:left;width:70%;}
  .promotions .rt_cnt .box_wrap .box{float:left;width:48%;margin:10px 1% 5px 1%;}
  .promotions .rt_cnt .box_wrap .box img{width:100%;-webkit-filter: grayscale(100%);filter:none;}
}


/* Code Main */
.code_main{}
.code_main .code_box{margin-bottom:20px;}
.code_main .date{float:left;width:10%;margin:0 1%;text-align:center;}
.code_main .date em{font-size:45px;font-weight:bold;border-bottom:1px solid;}
.code_main .date em span{display:none;}
.code_main .date p{font-size:65px;font-weight:bold;line-height:1.2;}
.code_main .img{float:left;width:40%;margin:0 1%;}
.code_main .img img{width:100%;}
.code_main .intro{float:left;width:44%;margin:0 1%;}
.code_main .intro em{font-size:20px;font-weight:400;}
.code_main .intro p{border-bottom:1px solid #ccc;padding:10px 0;}
.code_main .intro a{float:right;text-decoration:none;color:#000;}

@media screen and (max-width:640px){
  .code_main .code_box{margin-bottom:20px;}
  .code_main .date{float:none;width:100%;margin:0;text-align:left;}
  .code_main .date em{font-size:15px;font-weight:bold;border-bottom:none;}
  .code_main .date em span{display:inline-block;}
  .code_main .date p{font-size:15px;display:inline-block;}
  .code_main .img{float:none;width:100%;margin:0;}
  .code_main .intro{float:none;width:100%;margin:0;text-align:center;}
  .code_main .intro em{font-size:17px;}
  .code_main .intro a{float:none;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .code_main .lt_cnt{float:left;width:28%;margin:0 2% 30px 0;}
  .code_main .rt_cnt{float:left;width:70%;}
  .code_main .date em{font-size:30px;font-weight:bold;border-bottom:1px solid;}
  .code_main .date p{font-size:40px;font-weight:bold;line-height:1.2;}
  .code_main .intro em{font-size:17px;font-weight:400;}
}

.blog{}
.blog .blog_box{margin:20px 0 50px 0;}
.blog .date{float:left;width:8%;margin:0 1%;text-align:center;}
.blog .date em{font-size:30px;font-weight:400;border-bottom:1px solid #ccc;display:inline-block;}
.blog .date p{font-size:65px;font-weight:400;line-height:1;}
.blog .image{float:left;width:43%;margin:0 1%;}
.blog .image span{display:none;}
.blog .image img{width:100%;}
.blog .inner{float:left;width:43%;margin:0 1%;}
.blog .inner h3{line-height:1.4;}
.blog .inner h3 a{text-decoration:none;color:#000;}
.blog .inner p{margin:10px 0;border-bottom:1px solid #ccc;padding-bottom:5px;}
.blog .inner .more_btn{position:relative;}
.blog .inner .more_btn a{padding:10px 0;display:block;float:right;margin-right:55px;text-decoration:none;color:#ccc;}
.blog .inner .more_btn img{position:absolute;top:-2px;right:0;}

@media screen and (max-width:640px){
	.blog .blog_box{margin:20px 0 50px 0;}
	.blog .date{display:none;}
	.blog .image{float:none;width:100%;margin:0;}
	.blog .image span{display:block;border-bottom:1px solid;margin-bottom:2px;}
	.blog .inner{float:none;width:100%;margin:0;}
}

@media screen and (min-width:641px) and (max-width:1199px){
	.blog .lt_cnt{float:left;width:28%;margin:0 2% 30px 0;}
	.blog .rt_cnt{float:left;width:70%;}
	.blog .date em{font-size:15px;}
	.blog .date p{font-size:35px;}
}



