/* Section Promo Code */
@media screen and (min-width:640px){
  .codes{}
  .codes .lt_cnt .toggle{margin-top:10px;}
  .codes .lt_cnt .toggle>ul{}
  .codes .lt_cnt .toggle>ul>li{padding:8px 0;border-bottom:1px solid #3d3d3d;background:url(/assets/toggle_show_btn.png) top 10px right 10px no-repeat;}
  .codes .lt_cnt .toggle>ul>li.on{border-bottom:1px solid #3d3d3d;background:url(/assets/toggle_hide_btn.png) top 12px right 10px no-repeat;}
  .codes .lt_cnt .toggle>ul>li>a{text-decoration:none;color:#000;display:block;}
  .codes .lt_cnt .toggle>ul>li>ul{display:none;padding-left:17px;}
  .codes .lt_cnt .toggle>ul>li>ul>li{padding:5px 10px;list-style: decimal;}
  .codes .lt_cnt .toggle>ul>li>ul>li>a{text-decoration:none;color:#000;display:block;}
  .codes .lt_cnt .toggle>ul>li>ul>li>a>span{font-size:13px;}

  .codes .lt_cnt .lt_sort_box{display:none;}
  .codes .lt_cnt .lt_sort_box.on{display:block;position:fixed;top:80px;width:270px;}
  .codes .lt_cnt .lt_sort_box p{border-bottom:1px solid;}
  .codes .lt_cnt .lt_sort_box ul{background:#000;padding:10px;}
  .codes .lt_cnt .lt_sort_box ul li{float:left;width:100%;margin:1% 0;border:1px solid #fff;background:#000}
  .codes .lt_cnt .lt_sort_box ul li a{padding:5px;text-decoration:none;color:#fff;display:block;background:#000;text-align:center;}
  .codes .lt_cnt .lt_sort_box ul li a:hover{background:#fff;color:#000;}
  
  .codes .rt_cnt .sort_box{margin-bottom:20px;}
  .codes .rt_cnt .sort_box ul li{float:left;width:100px;margin:0 5px;border:1px solid;border-radius:10px;}
  .codes .rt_cnt .sort_box ul li a{border-radius:10px;text-decoration:none;color:#000;display:block;background:#fff;text-align:center;padding:5px;}

  .codes .card_wrap{margin:20px 0 0 0;}
  .codes .card_wrap .card{border-bottom:1px solid #ccc;margin:0 0 15px 0;padding-bottom:10px;}
  .codes .card_wrap .card .image_box{float:left;width:20%;height:150px;padding:1.5%;}
  .codes .card_wrap .card .image_box img{width:100%;height:100%;object-fit:contain;}
  .codes .card_wrap .card .inner{border-right:1px solid #ccc;border-left:1px solid #ccc;float:left;width:57%;padding:1.5%;}
  .codes .card_wrap .card .inner>.regular{color:#000;font-size:17px;border-bottom:2px solid #000;}
  .codes .card_wrap .card .inner>.regular>em{font-weight:400;background:#000;padding:0 5px;color:#fff;}
  .codes .card_wrap .card .inner>p>a{line-height:1.4;height:2.8em;overflow:hidden;margin:10px 0;text-decoration:none;color:#000;display:block;}
  .codes .card_wrap .card .inner>em{display:block;margin-right:5px;font-weight:400;}
  .codes .card_wrap .card .inner>em>span{font-size:15px;color:#ccc;text-decoration:line-through;margin-left:5px;}
  .codes .card_wrap .card .inner>.code_high>p{font-size:13px;display:inline;border-bottom:0.4em solid rgba(255,0,0,0.2);position:relative;}
  .codes .card_wrap .card .inner>.code_high>p>span{font-weight:400;position:relative;top:0.4em;}
  .codes .card_wrap .card .inner>.code_high>p>span>strong{font-size:17px;}
  .codes .card_wrap .card .deal_btn{float:left;width:13%;text-align:center;margin:35px 1.5% 0 1.5%;border:1px solid;padding:10px 0;}
  .codes .card_wrap .card .deal_btn a{text-decoration:none;color:#000;display:block;}
}

@media screen and (max-width:640px){
  .codes .lt_cnt .toggle{margin-top:10px;}
  .codes .lt_cnt .toggle>ul>li{padding:8px 0;border-bottom:1px solid #3d3d3d;background:url(/assets/toggle_show_btn.png) top 10px right 10px no-repeat;}
  .codes .lt_cnt .toggle>ul>li.on{border-bottom:1px solid #3d3d3d;background:url(/assets/toggle_hide_btn.png) top 12px right 10px no-repeat;}
  .codes .lt_cnt .toggle>ul>li>a{text-decoration:none;color:#000;display:block;}
  .codes .lt_cnt .toggle>ul>li>ul{display:none;list-style:decimal;padding-left:17px;}
  .codes .lt_cnt .toggle>ul>li>ul>li{padding:5px 10px;list-style: decimal;}
  .codes .lt_cnt .toggle>ul>li>ul>li>a{text-decoration:none;color:#000;display:block;}

  .codes .lt_cnt .lt_sort_box{display:none;}
  .codes .rt_cnt .sort_box{margin:10px 0;}
  .codes .rt_cnt .sort_box.on,
  .codes .rt_cnt .sort_box p{display:none;}
  .codes .rt_cnt .sort_box ul{}
  .codes .rt_cnt .sort_box ul li{float:left;width:19%;margin:0.5%;}
  .codes .rt_cnt .sort_box ul li a{border-radius:10px;text-decoration:none;color:#fff;display:block;background:#000;text-align:center;padding:5px;}
 
  .codes .card_wrap{column-width:170px;column-gap:5px;}
  .codes .card_wrap .card{display:inline-block;margin:0;margin-bottom:15px;padding:5px;box-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.5);text-align:center;border-radius:10px;}
  .codes .card_wrap .card .image_box img{width:100%;}
  .codes .card_wrap .card .inner{padding:7px;}
  .codes .card_wrap .card .inner>.regular{font-size:13px;border-bottom:2px solid #000;}
  .codes .card_wrap .card .inner>.regular>em{background:#000;padding:0 5px;color:#fff;}
  .codes .card_wrap .card .inner>p{margin:10px 0;}
  .codes .card_wrap .card .inner>p>a{font-size:13px;line-height:1.4;height:auto;overflow:visible;margin:10px 0 0 0;text-decoration:none;color:#000;}
  .codes .card_wrap .card .inner>em{display:block;margin-right:5px;font-size:13px;font-weight:400;}
  .codes .card_wrap .card .inner>em>span{font-size:12px;color:#ccc;text-decoration:line-through;margin-left:5px;}
  .codes .card_wrap .card .inner>.code_high>p{display:inline;border-bottom:0.4em solid rgba(255,0,0,0.2);position:relative;}
  .codes .card_wrap .card .inner>.code_high>p>span{font-weight:400;position:relative;top:0.4em;}
  .codes .card_wrap .card .deal_btn{float:none;width:100%;padding:7px;margin-top:10px;}
  .codes .card_wrap .card .deal_btn a{text-decoration:none;color:#000;margin:20px 0 0 0;border:1px solid;padding:3px 20px;}
}

@media screen and (max-width:400px){
  .codes .rt_cnt .sort_box ul li a{font-size:10px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .codes .card_wrap .card .inner>p>a{font-size:15px;font-weight:300;}
  .codes .lt_cnt .toggle>ul>li>ul>li>a{text-decoration:none;color:#000;display:block;}
  .codes .lt_cnt .lt_sort_box.on{display:none;}
  .codes .rt_cnt .sort_box ul li{float:left;width:17.7%;margin:1%;}
}

/* Section Coupons */
@media screen and (min-width:640px){
  .coupons{}
  
  /*.coupons .lt_cnt .lt_cnt_box{display:none;}
  .coupons .lt_cnt .lt_cnt_box.on{display:block;position:fixed;top:80px;width:270px;}
  .coupons .lt_cnt .lt_cnt_box.on button{margin-right:8px;border:0;padding:8px;border-radius:10px;display:inline-block;font-size:17px;}
  .coupons .lt_cnt .lt_cnt_box.on #buttons button.active{background:#000;color:#fff;}*/
  .coupons .rt_cnt .cnt_box #buttons button{margin-right:8px;border:0;padding:8px;border-radius:10px;display:inline-block;font-size:17px;}
  .coupons .rt_cnt .cnt_box #buttons button.active{background:#000;color:#fff;}
  .coupons .rt_cnt .cnt_box button:hover{border-bottom:1px solid;color:#000;}
  
  .coupons .coupons_wrap{margin:20px 0 0 0;}
  .coupons .coupons_wrap .card{border-bottom:1px solid #ccc;margin:0 0 15px 0;padding-bottom:10px;}
  .coupons .coupons_wrap .card .info_box{border-right:1px solid #ccc;float:left;width:20%;height:100px;padding:1.5% 0;margin:2% 1.5%;text-align:center;background:#fff;color:#000;}
  .coupons .coupons_wrap .card .info_box p{font-size:30px;font-weight:bold;line-height:1.2;margin:3px 20px;}
  .coupons .coupons_wrap .card .info_box em{}
  .coupons .coupons_wrap .card .info_box .img_box{height:100px;padding:0;}
  .coupons .coupons_wrap .card .info_box img{width:100%;height:100%;object-fit:contain;}
  .coupons .coupons_wrap .card .info_box strong{background:#000;color:#fff;border-radius:10px;padding:0 10px;display:block;width:50%;margin:5px auto;}
  .coupons .coupons_wrap .card .inner{border-right:1px solid #ccc;float:left;width:57%;padding:1.5%;}
  .coupons .coupons_wrap .card .inner p{font-size:17px;font-weight:bold;line-height:1.2;margin-top:5px;}
  .coupons .coupons_wrap .card .inner p>a{text-decoration:none;color:#000;}
  .coupons .coupons_wrap .card .inner em{display:block;margin:7px 0;}
  .coupons .coupons_wrap .card .inner span{}
  .coupons .coupons_wrap .card .deal_btn{float:left;width:13%;padding:1.5%;text-align:center;margin:50px 0;}
  .coupons .coupons_wrap .card .deal_btn a{text-decoration:none;color:#000;border:1px solid;padding:10px 17px;}
}

@media screen and (max-width:640px){
  .coupons .rt_cnt .cnt_box{margin:20px 0;}
  .coupons .rt_cnt .cnt_box.on{display:none;}
  .coupons .rt_cnt .cnt_box #buttons button{border:0;padding:8px;border-radius:3px;display:inline-block;font-size:15px;width:33.33%;}
  .coupons .rt_cnt .cnt_box #buttons button.active{background:#000;color:#fff;}
  .coupons .rt_cnt .cnt_box button:hover{border-bottom:1px solid;color:#000;}
  /*.coupons .coupons_wrap{column-width:170px;column-gap:5px;}*/
  .coupons .coupons_wrap .card{border-radius:5px;display:inline-block;margin:0;margin-bottom:15px;padding:5px;box-shadow: 1px 1px 3px rgba(0,0,0,0.5);}
  .coupons .coupons_wrap .card .info_box{float:none;width:100%;padding:10px 0;text-align:center;background:#fff;color:#000;}
  .coupons .coupons_wrap .card .info_box p{font-size:25px;font-weight:500;line-height:1.2;margin:3px 20px;}
  .coupons .coupons_wrap .card .inner p{font-weight:600;}
  .coupons .coupons_wrap .card .inner p>a{text-decoration:none;color:#000;}
  .coupons .coupons_wrap .card .info_box em{}
  .coupons .coupons_wrap .card .info_box .img_box{height:auto;padding:0;}
  .coupons .coupons_wrap .card .info_box img{width:100%;height:auto;}
  .coupons .coupons_wrap .card .info_box strong{background:#000;color:#fff;border-radius:10px;padding:0 10px;display:block;width:50%;margin:5px auto;}
  .coupons .coupons_wrap .card .inner{float:none;width:100%;padding:0;}
  .coupons .coupons_wrap .card .inner p{font-size:15px;line-height:1.2;margin-top:10px;word-break:break-all;}
  .coupons .coupons_wrap .card .inner em{display:block;margin:10px 0;}
  .coupons .coupons_wrap .card .deal_btn{float:none;width:100%;padding:0;margin:10px 0;}
  .coupons .coupons_wrap .card .deal_btn a{text-decoration:none;color:#000;border:1px solid;padding:5px 17px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .coupons .rt_cnt .cnt_box.on{display:none;}
  .coupons .coupons_wrap .card .info_box{width:15%;}
  .coupons .coupons_wrap .card .info_box p{font-size:25px;padding:10px 0;}
  .coupons .coupons_wrap .card .deal_btn{width:18%;}
  .coupons .coupons_wrap .card .deal_btn a{padding:5px 10px;}
  
}

/* Section Quick Search */
.quicksearch{}
.quicksearch .rt_cnt{}
.quicksearch .rt_cnt .tg{width:98%;margin:0 1%;border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.quicksearch .rt_cnt .tg tr{}
.quicksearch .rt_cnt .tg tr th{font-size:15px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#000;background-color:#f0f0f0;}
.quicksearch .rt_cnt .tg tr td{font-size:15px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.quicksearch .rt_cnt .tg tr td.tg-s6z2{text-align:center}
.quicksearch .rt_cnt .tg tr td.tg-spn1{background-color:#f9f9f9;text-align:center}
.quicksearch .rt_cnt .tg tr td a{text-decoration:none;color:#000;}
.quicksearch .rt_cnt .tg tr td a:hover{color:#7bc242;}

@media screen and (max-width:640px){
  .quicksearch .rt_cnt .tg{width:100%;margin:0;}
  .quicksearch .rt_cnt .tg tr th,
  .quicksearch .rt_cnt .tg tr td{font-size:12px;}
  .quicksearch .rt_cnt .tg tr td a:hover{color:#000;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .quicksearch .lt_cnt{float:left;width:28%;margin:0 2% 30px 0;}
  .quicksearch .rt_cnt{float:left;width:70%;}
  .quicksearch .rt_cnt .tg tr th,
  .quicksearch .rt_cnt .tg tr td{font-size:13px;}
  .quicksearch .rt_cnt .tg tr td a:hover{color:#000;}
}


/* Section Promotions */
.promotions{} 
.promotions .rt_cnt .box_wrap{}
.promotions .rt_cnt .box_wrap .box{float:left;width:31.33%;margin:10px 1% 5px 1%;}
.promotions .rt_cnt .box_wrap .box img{width:100%;}
/*.promotions .rt_cnt .box_wrap .box img{width:100%;-webkit-filter: grayscale(100%);filter: gray;}
.promotions .rt_cnt .box_wrap .box img:hover{-webkit-filter: grayscale(0%);filter: none;}*/

@media screen and (max-width:640px){
  .promotions .rt_cnt .box_wrap .box{float:left;width:48%;}
  /*.promotions .rt_cnt .box_wrap .box img{width:100%;-webkit-filter: grayscale(100%);filter:none;}*/
}

@media screen and (min-width:641px) and (max-width:1199px){
  .promotions .lt_cnt{float:left;width:28%;margin:0 2% 30px 0;}
  .promotions .rt_cnt{float:left;width:70%;}
  .promotions .rt_cnt .box_wrap .box{float:left;width:48%;margin:10px 1% 5px 1%;}
  /*.promotions .rt_cnt .box_wrap .box img{width:100%;-webkit-filter: grayscale(100%);filter:none;}*/
}


