.gadgets{margin:270px 0;}
.index_gad{margin:30px 0;}
.gadgets .card_wrap{column-width:300px;column-gap:10px;}
.gadgets .card_wrap .card{margin:10px 1%;;position: relative;border-radius:10px;background: #fff; overflow: hidden;display:inline-block;}
.gadgets .card_wrap .card, 
.gadgets .card-nav ul{box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);}
.gadgets .card_wrap .card-header,
.gadgets .card_wrap .card-body{position:relative;padding:5px;text-align:center;}
.gadgets .card_wrap .card-body h4{margin-top:15px;}
.gadgets .card_wrap .card-body h4 a{text-decoration:none;color:#000;}
.gadgets .card_wrap .card-body p{margin:10px 0;}
.gadgets .card_wrap .card-body .btn{margin:10px 0;display:inline-block;}
.gadgets .card_wrap .card-body .btn>em{float:left;font-size:17px;background:#000;color:#fff;padding:3px 20px;border:1px solid #000;line-height:20px;}
.gadgets .card_wrap .card-body .btn>a{float:left;text-decoration:none;color:#000;font-size:20px;border:1px solid #000;padding:3px 20px;line-height:20px;}
.gadgets .card_wrap .card-body .admin{margin-top:-20px;}
.gadgets .card_wrap .card-body .admin>em>a{text-decoration:none;color:#fff;}
.gadgets .card_wrap .card-header img{display:block;width:100%;border-radius:10px;}
.gadgets .card_wrap .with-photo
.gadgets .card_wrap .card-header{height:208px;padding:0;overflow:hidden;}
.gadgets .card_wrap .start{position:absolute;top:-20px;right:50px;}
.gadgets .card_wrap .start img{width:30px;}
/*
.gadgets .card_wrap .card-nav button .nav-icon, 
.gadgets .card_wrap .card-nav ul{transition: all .5s ease;}
.gadgets .card_wrap .card-nav{position:absolute;top:-20px;right:15px;}
.gadgets .card_wrap .admin{position:absolute;top:-20px;right:85px;}
.gadgets .card_wrap .card-footer ul{}
.gadgets .card_wrap .card-footer ul li{float:left;}
.gadgets .card_wrap .card-footer ul li:nth-child(2){float:right;}
.gadgets .card_wrap .card-footer ul li:nth-child(2) a{text-decoration:none;color:#000;}
.gadgets .card_wrap .start img{width:30px;}
.gadgets .card_wrap .card-nav button {-webkit-appearance:none;outline:none;cursor:pointer;position:relative;width:30px;height:30px;border-radius:50%;border:0;background:#000;z-index:20;transition:all .25s ease;}
.gadgets .card-nav button .nav-icon {position: absolute;background: #fff;}
.gadgets .card-nav button.nav-bars .nav-icon {left: 10px;width: 20px;height: 2px;}
.gadgets .card-nav button.nav-bars .nav-icon.icon-one {top: 13px;}
.gadgets .card-nav button.nav-bars .nav-icon.icon-two {top: 19px;}
.gadgets .card-nav button.nav-bars .nav-icon.icon-three {top: 25px;}
.gadgets .card-nav button.nav-dots .nav-icon {top: 50%;left: 50%;width: 4px;height: 4px;border-radius: 50%;margin: -2px 0 0 -2px;}
.gadgets .card-nav button.nav-dots .nav-icon.icon-one {left: 27%;}
.gadgets .card-nav button.nav-dots .nav-icon.icon-three {left: 73%;}
.gadgets .card-nav ul {position: absolute;top: 28px;right: 0;width: 220px;border-radius: 4px;background: #333;padding: 0;margin: 0;z-index: 10;visibility: hidden;opacity: 0;}
.gadgets .card-nav ul:before {position: absolute;top: -7px;right: 13px;width: 0;height: 0;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #333;content: '';}
.gadgets .card-nav li {width: 100%;list-style: none;border-top: 1px solid #404040; border-bottom:1px solid #262626;margin: 0;}
.gadgets .card-nav li:first-child {border-top: 0;}
.gadgets .card-nav li:last-child {border-bottom: 0;}
.gadgets .card-nav li a{display: block;text-decoration:none;color: #fff;font-size: 13px;line-height: 2;padding: 8px 10px;}
.gadgets .card-nav li a:hover {color: #59adEb;}
.gadgets .card-nav.is-active button {background: #ee552a;}
.gadgets .card-nav.is-active button .icon-one {-webkit-transform: rotate(-225deg);}
.gadgets .card-nav.is-active button .icon-two {opacity: 0;}
.gadgets .card-nav.is-active button .icon-three {-webkit-transform: rotate(225deg);}
.gadgets .card-nav.is-active button.nav-bars .icon-one,
.gadgets .card-nav.is-active button.nav-bars .icon-three {width: 21px;}
.gadgets .card-nav.is-active button.nav-bars .icon-one {margin: 6px 0 0 -1px;}
.gadgets .card-nav.is-active button.nav-bars .icon-three {margin: -6px 0 0 -1px;}
.gadgets .card-nav.is-active button.nav-dots .icon-one,
.gadgets .card-nav.is-active button.nav-dots .icon-three {width: 16px;height: 3px;border-radius: 2px;margin-top: -1px;}
.gadgets .card-nav.is-active button.nav-dots .icon-one {margin-left: 1px;}
.gadgets .card-nav.is-active button.nav-dots .icon-three {margin-left: -17px;}
.gadgets .card-nav.is-active ul {top: 48px;visibility: visible;opacity: 1;}
*/
@media screen and (max-width:640px){
  .gadgets{margin:80px 0;}
  .gadgets .card_wrap .card-header{padding:5px;}
  .gadgets .card_wrap .card-body{padding:10px;}
  .gadgets .card_wrap .card-body h4{margin:15px 0;}
  .gadgets .card_wrap .card-nav{top:-25px;}
  .gadgets .card_wrap .sns{top:-25px;}
  .gadgets .card_wrap .start{top:-25px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .gadgets{margin:160px 0;}
  .gadgets .card_wrap .card-header{padding:5px;}
  .gadgets .card_wrap .card-body{padding:10px;}
  .gadgets .card_wrap .card-body h4{margin:15px 0;}
  .gadgets .card_wrap .card-nav{top:-25px;}
  .gadgets .card_wrap .sns{top:-25px;}
  .gadgets .card_wrap .start{top:-25px;}
}